@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


body{
  font-family: 'Montserrat Alternates',sans-serif;
  background-color: #131722;
  color: white;
}


/* navbar */
.navicons{
  margin-top: 8px;
}

.navicons i {
  margin: 2px;
  font-size: 20px;
  color: white;
  
}

.navicons i:hover {
  color: #0d6efd;
} 